
@import url('/platform/rs/themes/Тест_для_скачивания/getFileByName?path=cssByForms%2FtestFolderInsLink%2Fins.css');
/* Серые заголовки */

.user-def-logical_block .user-def-gray-title .label {
    height: 100% !important;
    color: #747781 !important;
    font-weight: 400;
    line-height: 16px;
   font-size: 14px !important;
  }
  
  .user-def-gray-title .label {
    height: 100% !important;
    color: #747781 !important;
    font-weight: 400;
    line-height: 16px;
   font-size: 14px !important;
  }
  
  .user-def-gray-title .jq_default__input_invalid__tip .tt-content {
    font-size: 14px !important;
    font-weight: normal !important;
    font-family: Roboto, sans-serif !important;
    border-color: #E93131;
    color: #fff;
    background-color: #E93131 !important;
    opacity: 1;
  }
  
  .user-def-gray-title .jq_default__input_invalid__tip {
    opacity: 0.8 !important;
  }


  /* .user-def-grid-28-11-20 {
  grid-template-columns: 28fr 11fr 20fr;
  margin-top: 15px;
} */
.user-def-grid-280-115-200 {
  grid-template-columns: 280fr 115fr 200fr;
  margin-top: 15px;
}

/* .user-def-logical_blocks_outer_grig {
  display: grid !important;
  grid-auto-flow: column !important;
  grid-gap: 24px !important;
} */
.user-def-logical_blocks_outer_grig {
  display: grid !important;
  grid-auto-flow: column !important;
  grid-gap: 10px !important;   
}

/* .user-def-grid-22-14-7 {
  grid-template-columns: 22fr 9fr 12fr !important;
} */
.user-def-grid-213-90-120 {
  grid-template-columns: 213fr 90fr 120fr !important;
}

.user-def-grid-249-250 {
  grid-template-columns: 249fr 250fr !important;
}
   
.user-def-ne_utratil_silu_hover:hover::after {
    content: '🛈   При установке данной отметки ОРД сохраняет действие при УД всех приложений к нему до его непосредственной отмены другим ОРД или окончанием его срока действия. 🛈   Для активации чекбокса добавьте ПД РегД';
    position: absolute;
    left: 10%;
    bottom: 40%;
    z-index: 1;
    background: rgba(255, 255, 230, 0.9);
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 8px;
    color: black;
}